.footer-container{
    background-color: rgb(37, 30, 30);
    color: white;
    padding: 40px 10px;
}
.footer-inner-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
@media only screen and (max-width: 770px){
    .footer-inner-container{
        grid-template-columns: repeat(1,1fr);
    }
}